### Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

In [15]:
import pandas as pd
import numpy as np

citi_bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citi_bike_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

#### Сколько пропусков в столбце start station id?

In [16]:
citi_bike_data.isnull().sum()

starttime                    0
stoptime                     0
start station id           169
start station name         169
start station latitude       0
start station longitude      0
end station id             169
end station name           169
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64

----------------------------
#### Какой тип данных имеют столбцы starttime и stoptime?

In [17]:
citi_bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

___
#### Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [18]:
citi_bike_data['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [19]:
# Велосипед с каким идентификатором является самым популярным?

citi_bike_data['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [20]:
# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. 
# Ответ округлите до сотых.

citi_bike_data['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

---
### Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [21]:
citi_bike_data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

### Выберите утверждения,которые соответствуют нашим данным:
##### A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
##### B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
##### C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
##### D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [22]:
citi_bike_data['start station id'].nunique() #759
citi_bike_data['end station id'].nunique()   #765

## citi_bike_data['starttime'] = pd.to_datetime(citi_bike_data['starttime'], yearfirst=True)
## citi_bike_data['age'] = citi_bike_data['starttime'].dt.year - citi_bike_data['birth year']
## display(citi_bike_data['age'].min()) 
# 16

display(citi_bike_data['start station name'].value_counts())

display(citi_bike_data['end station name'].value_counts())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

---
## Теперь работа над признаками
### В первую очередь удалим лишнюю информацию из данных.

In [23]:
# В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. 
# Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

citi_bike_data.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citi_bike_data.shape[1])

12

---
### Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [24]:
citi_bike_data['starttime'] = pd.to_datetime(citi_bike_data['starttime'], yearfirst=True)
citi_bike_data['age'] = citi_bike_data['starttime'].dt.year - citi_bike_data['birth year']
citi_bike_data.drop(['birth year'], axis=1, inplace=True)

print(citi_bike_data[citi_bike_data['age'] > 60].shape[0])

11837

---
#### Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [30]:
a = pd.to_datetime(citi_bike_data['starttime'], yearfirst=True)
b = pd.to_datetime(citi_bike_data['stoptime'], yearfirst=True)
citi_bike_data['trip duration'] = b.dt.minute - a.dt.minute
citi_bike_data.loc[3, 'trip duration']

7

---
### Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [37]:
def a_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
citi_bike_data['Weekend'] = citi_bike_data['starttime'].dt.dayofweek.apply(a_weekend)
display(citi_bike_data['Weekend'].sum())

######################

# О П Т И М А Л Ь Н О Е  Р Е Ш Е Н И Е

weekday = citi_bike_data['starttime'].dt.dayofweek
citi_bike_data['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
citi_bike_data['weekend'].sum()

115135

115135

---
## Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
#### поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
#### поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
#### поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
#### поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
#### Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [57]:
# Подсказка: Определите функцию get_time_of_day, которая принимает на вход время (в часах) и возвращает время суток в зависимости от принадлежности часа к указанному в задании диапазону.

def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

# Подсказка: Примените эту функцию к столбцу starttime, предварительно выделив час начала поездки с помощью атрибута аксессора dt hour. Результат занесите в столбец time_of_day.

time_of_day = citi_bike_data['starttime'].dt.hour
citi_bike_data['time_of_day'] = time_of_day.apply(get_time_of_day)


a = citi_bike_data[citi_bike_data['time_of_day'] == 'day'].shape[0]
b = citi_bike_data[citi_bike_data['time_of_day'] == 'night'].shape[0]

print(round (a / b))

9